# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Scraping results
scrapes/
*.json
*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Conda environment
tcp_data/